<div class="col-md-8 mx-auto mb-5">
  <h5>{{ title }}</h5>

<div class="p-2 form-paymybuddy">

  <forms [formGroup]="newBankForm" class="row justify-content-center mt-3">

    <p class="col-md-4">
      <input type="number" id="amount" formControlName="amount" placeholder="montant" class="form-control">
    </p>

    <p>
      <button type="submit" (click)="onSubmitForm()" [disabled]="newBankForm.invalid" class="btn btn-paymybuddy">Enregistrer</button>&nbsp;
    </p>

  </forms>
  <div *ngIf="error" class="alert-danger">{{ error }}</div>
</div>

</div>
